### Q1. Write a Python script that uses the print command to display the exact text "Hello, World!" on the screen.

In [1]:
print("Hello, World!")

Hello, World!

### Q2. Write a Python script that assigns the integer value 2 to a variable named a and the float value 3.3 to a variable named b, then writes a command to print the specific data type of variable b to the console.

In [2]:
a = 2
b = 3.3
print(type(b))

<class 'float'>

### Q3. Write a Python program that asks the user to input their name using the prompt "enter your name", stores that input in a variable called name, and then prints the value of that variable back to the user.

In [3]:
name = input("enter your name")
print(name)

enter your nameNAME
NAME

### Q4. Given the string variable t = 'Hello World!', write a script that first slices the string to print only the characters from index 2 to 5 (which should output 'llo') and then prints the entire string repeated two times.

In [4]:
t = 'Hello World!'
print(t[2:5])
print(t * 2)

llo
Hello World!Hello World!

### Q5. Create a list named list1 containing the elements ['physics', 'chemistry', 1997, 2000], then write code to change the value at index 2 from 1997 to 2001 and delete the item at index 2, showing the modified list structure.

In [5]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1[2] = 2001
del list1[2]
print(list1)

['physics', 'chemistry', 2000]

### Q6. Given a tuple defined as tuple = ('abcd', 786, 2.23) and a list defined as list = ['abcd', 786, 2.23], write the code that attempts to change the first element of both structures to 1000 and explain which one will raise a TypeError and why.

In [6]:
tup = ('abcd', 786, 2.23)
lis = ['abcd', 786, 2.23]
# Attempting to change a tuple element will raise a TypeError
# tup[0] = 1000
lis[0] = 1000
print(lis)

[1000, 786, 2.23]

### Q7. Create a dictionary named tinydict with the keys 'name', 'code', and 'dept' (and any corresponding values you choose), and then write a command to print only the list of keys available in that dictionary.

In [7]:
tinydict = {'name': 'John', 'code': 123, 'dept': 'Sales'}
print(tinydict.keys())
tup[0]=10

dict_keys(['name', 'code', 'dept'])

TypeError: 'tuple' object does not support item assignment

Attempting to change `tup[0] = 1000` for the tuple will raise a `TypeError` because tuples are immutable, meaning their elements cannot be changed after creation. Lists, however, are mutable, so `lis[0] = 1000` works without error.

### Q8. Write a script using if-elif-else logic for a variable amount such that if amount is less than 1000, the discount is 5%; if it is less than 5000, the discount is 10%; otherwise, the discount is 15%, and finally print the "Net payable" amount.

In [8]:
amount = 1200

if amount < 1000:
    discount = 0.05
elif amount < 5000:
    discount = 0.10
else:
    discount = 0.15

net_payable = amount * (1 - discount)
print(net_payable)

1080.0

### Q9. Write a while loop that initializes a variable count to 0 and prints "The count is:" followed by the current number, continuing until the count reaches 9, at which point the loop terminates and prints "Good Bye".

In [9]:
count = 0
while count < 9:
    print("The count is:", count)
    count += 1
print("Good Bye")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good Bye

### Q10. Write a function called details that accepts a variable number of arguments using the numbers syntax so that it can take any number of integers, and then call this function with the values (1, 2, 3) to demonstrate it printing them.

In [10]:
def details(*numbers):
    for num in numbers:
        print(num)

details(1, 2, 3)

1
2
3